.card-login {
    background-color: white;
    padding: 30px 40px 25px 40px;
    border-radius: .5em;
    box-shadow: 5px 5px 5px gray;
}

.mt-3 {
    margin-top: 3em;
}

.my-2 {
    margin: 2em 0;
}

.px-2 {
    padding: 0 2em;
}